@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Witaj @context.User.Identity.Name !</h1>

        <p>Witaj w programie AWSC</p>

    </Authorized>
    <Authorizing>
        <h1>Ładowanie..</h1>
    </Authorizing>
</AuthorizeView>